*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/res/drawable
.externalNativeBuild

# Elementos que no son de mi autoria
/app/src/main/assets/modsaes.js
/app/src/main/res/drawable